<footer class="bg-white py-2 text-sm text-center">
    Created with &hearts; by
    <a class="underline" href="https://github.com/devnicholas" target="_blank" rel="noreferrer">Nicholas</a>.
</footer>
</main>

<script src="{{ route('main') }}assets/ckeditor/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</body>

</html>